* {
    box-sizing: border-box;
    font-family: 'Agency FB', Arial, sans-serif;
    

}

/* Style for required field asterisks */
.required-field::after {
    content: '*'; 
    color: red; 
    margin-left: 4px; 
}

/* You may want to adjust the spacing or font size if necessary */


body {
    font-family: 'Agency FB', Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #f6efef;
    border-radius: 5px;
    position: relative;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #d32f2f;
    padding: 15px 0;
    margin-bottom: 20px;
}

.logo {
    display: grid;
    width: 100%;
    margin: 5px auto -10px; /* Center the logo with auto margins and add space below it */
}

form {
    display: flex;
 /* Stack sections vertically */
    gap: 20px; /* Add space between sections */
}

.section {
    width: 100%; /* Full width section */
    padding: 10px;
    border: 1px dashed #d32f2f;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    color: #d32f2f;
    margin-bottom: 15px;

}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #333;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.success {
    color: rgb(22, 223, 22);
    border: rgb(5, 177, 5);
}

/* Button styling */
button[type="submit"] {
    margin: 20px; /* Center the button and add space on top */
    display: block;
    background-color: red;
    color: white;
    padding: 12px;
    margin-top: 100px;
    height: 30px;
    width: 250px;
    margin-left: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

button[type="submit"]:hover {
    background-color: darkred;
}